@model IEnumerable<ProyectoFinalP3.Models.Ingresos>

@{
    ViewBag.Title = "Ingresos";
}

<h2>Ingresos</h2>

<p>
    @Html.ActionLink("Agregar nuevo Ingreso", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Paciente
            
        </th>
        <th>
            Habitación
        </th>
        <th>
            Fecha de Ingreso
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.Nombre)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitaciones.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        
    </tr>
}

</table>
